#home .slider-container {
  width: 100%;
  height: 80vh;
  background: var(--bg-green-10);
  display: flex;
  justify-content: center;
  align-items: stretch;
  position: relative;
  margin-top: 70px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5); /* Reduced size */
  padding: 50px;
}

#home .slider-container .slider {
  margin-right: 10px;
  height: 80%;
  width: 10%;
  border-radius: 60px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  transition: all ease-in-out 400ms;
  background-position: center center;
  background-size: cover;
  margin-top: 130px;
  background-repeat: no-repeat;
}

#home .slider-container .slider.active {
  width: 30%;
  border-radius: 50%;
  animation: move-down 1.5s ease-in infinite alternate-reverse;
}

@keyframes move-down {
  from {
    transform: translateY(-15px);
  }

  to {
    transform: translateY(0);
  }
}

#home .slider-container .slider .slider-title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  font-size: 20px;
  opacity: 0;
  transition: all 0.3s ease;
  color: white;
}

#home .slider-container .slider .slider-title-container h1 {
  margin: 0;
  padding: 0;
}

#home .slider-container .slider:not(.active):hover .slider-title-container {
  opacity: 1;
}

.pic-1 {
  background-image: url('../assets/plant-banner/banner-plant1.jpg');
}

.pic-2 {
  background-image: url('../assets/plant-banner/banner-plant2.webp');
}

.pic-3 {
  background-image: url('../assets/plant-banner/banner-plant3.webp');
}

.pic-4 {
  background-image: url('../assets/plant-banner/banner-plant4.webp');
}

.pic-5 {
  background-image: url('../assets/plant-banner/banner-plant5.jpg');
}

#home .slider-container > h1 {
  position: absolute;
  font-weight: 700;
  font-size: 50px;
  color: var(--bg-green-900);
}

#home .slider-container .plant-category {
  position: absolute;
  font-size: 30px;
  bottom: 20px;
  color: var();
  opacity: 0;
  transition: all 0.3s ease;
}

#home .slider-container .plant-category.active {
  opacity: 1;
}

#home .slider-container .hide {
  display: none;
}

@media (min-width: 851px) {
  #home .slider-contaienr .plant-category {
    opacity: 0;
  }
}

@media (max-width: 850px) {
  #home .slider-container {
    top: 30px;
    padding: 0;
    height: 30vh;
  }

  #home .slider-container > h1 {
    font-size: 30px;
    top: -25px;
  }

  #home .slider-container .slider {
    height: 50%;
    margin-top: 50px;
    width: 10%;
  }

  #home .slider-container .slider .slider-title-container {
    display: none;
  }

  #home .slider-container .plant-category {
    font-size: 20px;
    bottom: 10px;
  }

  #home .slider-container .hide {
    display: block;
  }
}
